@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&family=Quicksand:wght@300&family=Righteous&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'work sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.conteiner-header {
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.conteiner-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.conteiner-header header .logo a{
    font-family: 'righteous';
    font-size: 36px;
    color: #b61c3d;
    text-decoration: none;
}

.conteiner-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.conteiner-header header ul{
    display: flex;
    list-style: none;
}

.conteiner-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.conteiner-header header nav ul li a:hover{
    color: #b61c3d;
}

.nav-responsive {
    background-color: #b61c3d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio {
    background: linear-gradient(to top, rgba(40, 44, 48, 0.8), rgb(32, 37, 39)),
    url(./img/fondo2.webp);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #b61c3d;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Rigtheous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #b61c3d;
}

.sobremi { 
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi .col{
    max-width: 480px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #b61c3d;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #b61c3d;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #b61c3d;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #b61c3d;
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #b61c3d;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/*----- seccion skills ------*/

.skills { 
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #b61c3d;
    position: relative;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #b61c3d;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/*---------------- TECHNICAL SKILLS INICIO ----------------*/

.skills .skill .Javascript{
    width: 0%;
    animation: 2s Javascript forwards;
}
@keyframes Javascript{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .HTML5CSS3{
    width: 0%;
    animation: 2s HTML5CSS3 forwards;
}
@keyframes HTML5CSS3{
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .REACTJS{
    width: 0%;
    animation: 2s REACTJS forwards;
}
@keyframes REACTJS{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .BOOTSTRAP{
    width: 0%;
    animation: 2s BOOTSTRAP forwards;
}
@keyframes BOOTSTRAP{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .DISEÑOUXUI{
    width: 0%;
    animation: 2s DISEÑOUXUI forwards;
}
@keyframes DISEÑOUXUI{
    0%{width: 0%;}
    100%{width: 50%;}
}

/*---------------- TECHNICAL SKILLS FINAL ----------------*/

/*---------------- PROFESSIONAL SKILLS INICIO ----------------*/

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajoenequipo{
    width: 0%;
    animation: 2s trabajoenequipo forwards;
}
@keyframes trabajoenequipo{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .compromiso{
    width: 0%;
    animation: 2s compromiso forwards;
}
@keyframes compromiso{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .Responsabilidad{
    width: 0%;
    animation: 2s Responsabilidad forwards;
}
@keyframes Responsabilidad{
    0%{width: 0%;}
    100%{width: 95%;}
}

/*---------------- PROFESSIONAL SKILLS FINAL ----------------*/

/*----------------- seccion currriculum ----------------------*/

.curriculum { 
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila{
    display: flex;
}

.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
